# dependencies
node_modules

# forked or cloned repositories
programming/Reusable
programming/DataTypes
programming/Function
programming/Closure
programming/Iteration
programming/PartialApplication
programming/HigherOrderFunction
programming/Arrays
programming/Composition
programming/Profile

# temporary file
volchinsky_family_tree