# forked or cloned repositories
programming/Reusable
programming/DataTypes
programming/Function
programming/Closure
programming/Iteration
programming/PartialApplication
programming/HigherOrderFunction
programming/Arrays

# temporary file
hot_keys.txt
