# forked or cloned repositories
programming/Reusable
programming/DataTypes
programming/Function
programming/Closure
programming/Iteration
programming/PartialApplication
programming/HigherOrderFunction
programming/Arrays
programming/Composition

# temporary file
hot_keys.txt
.prettierrc.json
package.json
english/format.js
english/test.txt
english/notebook_golden2.txt
test_notebook_golden2.txt
aims.txt